# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Generated models
models_saved/

# Results
results/

# Raw datasets
data/raw/*.csv

# Processed datasets
data/processed/*.csv

# Logs
*.log