<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Steam Sentiment Analyzer</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >

</head>

<body>

    <div class="container">

        <h1>
            🎮 Steam Aspect-Based
            Sentiment Analyzer
        </h1>

        <p>
            Analyze Steam reviews using
            Transformer-based NLP.
        </p>

        <form
            action="/analyze"
            method="POST"
        >

            <textarea
                name="review"
                placeholder="Enter a Steam review..."
                required
            ></textarea>

            <button type="submit">
                Analyze Review
            </button>

        </form>

    </div>

</body>

</html>